{% load django_tables2 %}

<h1>Orchids</h1>
<hr>
<form action="" method="post">{% csrf_token %}
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

<!--  <label for="mist"><input type="checkbox" name="mist" value="mist" id="mist"> Mist</label><br>
  <label for="drip"><input type="checkbox" name="drip" value="drip" id="drip"> Drip</label><br>
  <label for="fan"><input type="checkbox" name="fan" value="fan" id="fan"> Fan</label><br>
  <label for="light"><input type="checkbox" name="light" value="light" id="light"> Light</label><br>
  <label for="heat"><input type="checkbox" name="heat" value="heat" id="heat"> Heat</label><br>
  -->
<!--
  <label for="mist"><input type="checkbox" name="actions" value="mist" id="mist"> Mist</label><br>
  <label for="drip"><input type="checkbox" name="actions" value="drip" id="drip"> Drip</label><br>
  <label for="fan"><input type="checkbox" name="actions" value="fan" id="fan"> Fan</label><br>
  <label for="light"><input type="checkbox" name="actions" value="light" id="light"> Light</label><br>
  <label for="heat"><input type="checkbox" name="actions" value="heat" id="heat"> Heat</label><br>
-->
    {{ form.as_p }}

    <input type="submit" value="Ready? Go!">
</form>

<hr>

Total {{total}} records.<br>

{% if table %}
    <div class="pagination">
        <span class="step-links">
            {% if paginator.has_previous %}
                <a href="?page={{ paginator.previous_page_number }}"><< previous</a>
            {% endif %}

            <span class="current">
                Page {{ paginator.number }} of {{ paginator.paginator.num_pages }}.
            </span>

            {% if paginator.has_next %}
                <a href="?page={{ paginator.next_page_number }}">next >></a>
            {% endif %}
        </span>
    </div>

    {% render_table table %}

{% comment %}
    <ul>
        {% for object in table %}
            <li>
                {{object.date}}: {{ object.t_amb }} {{ object.t_obj }} {{ object.rh }} {{ object.lux }} {{ object.hpa }} {{ object.wind }} {{ object.water }}
            </li>
        {% endfor %}
    </ul>
{% endcomment %}
{% else %}
    <p>No polls are available.</p>
{% endif %}



