{% load django_tables2 %}
<!DOCTYPE html>
<html>
<head>
	<meta content="text/html; charset=utf-8" http-equiv="Content-Type" charset="utf-8">
	<style id="Orchids_care_4027_Styles">
	body {
background: rgb(255,252,254);
background: -moz-radial-gradient(center, ellipse cover, rgba(255,252,254,1) 0%, rgba(255,175,203,1) 100%);
background: -webkit-radial-gradient(center, ellipse cover, rgba(255,252,254,1) 0%,rgba(255,175,203,1) 100%);
background: radial-gradient(ellipse at center, rgba(255,252,254,1) 0%,rgba(255,175,203,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fffcfe', endColorstr='#ffafcb',GradientType=1 );
}
	</style>
	<title>&#10046; OrchidCare - always alive</title>
</head>
<body>
<center>
<table width="60%"><tr>
<td><h1><font color="#ff33cc">&#10046;</font> OrchidCare <font color="#cc99ff">&#10046;</font></h1></td><td align="right"><a href="/">Show Sensors</a><br>
<a href="/actions/">Show Actions</a></td>
</tr></table>
<hr>
{% if sysinfo %}
<h2 align="center">System Information</h2>
<p>
{{ sysinfo|safe }}
</p>
    {% if charts %}
    <br><h2>System Infographics</h2>
    <p>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
       <div id="chart_div" style="width: 900px; height: 250px;"></div>
    <script>
      google.charts.load('current', {'packages':['gauge']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Label', 'Value'],
          // Data from views charts
        {% for key, value in charts.items %}
          ['{{ key }}', {{ value }}],
        {% endfor %}
        ]);

        var options = {
          width: 900, height: 250,
          redFrom: 95, redTo: 100,
          yellowFrom:83, yellowTo: 95,
          minorTicks: 5
        };

        var chart = new google.visualization.Gauge(document.getElementById('chart_div'));
        chart.draw(data, options);
      }
    </script>
    </p>
    {% endif %}
<hr>
{% endif %}
<p>
<form action="" method="post" onsubmit="return validate();"> {% csrf_token %}
<script>
function validate() {
  // Pop up user confirmation
  return confirm('This action may stop functioning of the Orchid farm.\n\nAre you sure?');
}
</script>
<br>
<input type="submit" name="update" value="Update Firmware">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<input type="submit" name="restart" value="Restart Runner">
</form>
<br><hr>
<a target="_blank" href="http://github.com/igrowing/orchids/wiki">How does this work</a> &copy; <a target="_blank" href="http://github.com/igrowing">iGrowing</a>
<br></center></p>
{% comment %}
    <ul>
        {% for object in table %}
            <li>
                {{object.date}}: {{ object.t_amb }} {{ object.t_obj }} {{ object.rh }} {{ object.lux }} {{ object.hpa }} {{ object.wind }} {{ object.water }}
            </li>
        {% endfor %}
    </ul>
{% endcomment %}
</body>
</html>
