{% load django_tables2 %}
<!DOCTYPE html>
<html>
<head>
	<meta content="text/html; charset=utf-8" http-equiv="Content-Type">
	<style id="Orchids_care_4027_Styles">
	body {
background: rgb(255,252,254);
background: -moz-radial-gradient(center, ellipse cover, rgba(255,252,254,1) 0%, rgba(255,175,203,1) 100%);
background: -webkit-radial-gradient(center, ellipse cover, rgba(255,252,254,1) 0%,rgba(255,175,203,1) 100%);
background: radial-gradient(ellipse at center, rgba(255,252,254,1) 0%,rgba(255,175,203,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fffcfe', endColorstr='#ffafcb',GradientType=1 );
}
	</style>
	<title>&#10046; Orchids - always alive</title>
</head>
<body>
<center>
<table width="80%"><tr>
<td><h1><font color="#ff33cc">&#10046;</font> Orchids <font color="#cc99ff">&#10046;</font></h1></td><td align="right"><a href="/">Show Sensors</a><br>
<a href="/actions/">Show Actions</a></td>
</tr></table>
<hr>
{% if sysinfo %}
<h2 align="center">System Information</h2>
<p>
{{ sysinfo|safe }}
</p>
    {% if charts %}
    <h2>System Infographics</h2>
    <p>
    {{ charts|safe }}
    </p>
    {% endif %}
<hr>
{% endif %}
<p>
<form action="" method="post">{% csrf_token %}

 <label for="update"><input type="checkbox" name="update" value="True" id="update" hidden='True'> </label><br>
<input type="submit" value="Update Firmware">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<input type="submit" value="Restart Runner">
</form>
<br><a target="_blank" href="http://github.com/igrowing/orchids/wiki">How does this work</a> &copy; <a target="_blank" href="http://github.com/igrowing">iGrowing</a>
<br></center></p>
{% comment %}
    <ul>
        {% for object in table %}
            <li>
                {{object.date}}: {{ object.t_amb }} {{ object.t_obj }} {{ object.rh }} {{ object.lux }} {{ object.hpa }} {{ object.wind }} {{ object.water }}
            </li>
        {% endfor %}
    </ul>
{% endcomment %}
</body>
</html>
